<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>pritesh.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>pritesh.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailServlet</servlet-name>
        <servlet-class>pritesh.EmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyNow</servlet-name>
        <servlet-class>pritesh.BuyNow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>pritesh.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookNow</servlet-name>
        <servlet-class>pritesh.BookNow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>pritesh.BookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalBookingServlet</servlet-name>
        <servlet-class>pritesh.FinalBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SemiFinal</servlet-name>
        <servlet-class>pritesh.SemiFinal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailServlet</servlet-name>
        <url-pattern>/EmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyNow</servlet-name>
        <url-pattern>/BuyNow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookNow</servlet-name>
        <url-pattern>/BookNow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/BookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalBookingServlet</servlet-name>
        <url-pattern>/FinalBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SemiFinal</servlet-name>
        <url-pattern>/SemiFinal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>Driver</param-name>
        <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
    </context-param>
    <context-param>
        <param-name>Database</param-name>
        <param-value>
            jdbc:sqlserver://localhost;databaseName=HotelManagement;user=sa;password=wadhwas
        </param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>
           Login.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
